* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #1F2937;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

header {
    display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 width:100%;
 
}

header h1 {
    font-size: 24px;
    color: #F9FAF8;
    padding:0 100px;
}
.header-links {
    display: flex;
    align-items: center;
    color: #F9FAF8;
    gap:20px;
    padding: 0 100px;

}
ul {
    list-style: none;
}
li a {
    text-decoration: none;
    color:#F9FAF8;
}
/* HERO SECTION */
.hero-section {
    display: flex;
    flex-direction: row;
    padding: 20px 200px;
    gap: 20px;
}
.hero-text {
    flex:1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.hero-lead {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    padding: 0;
    margin:0;
}

.hero-desc {
    font-size: 18px;
    color: #E5E7EB;
}
.hero-text button {
    padding: 16px;
    background-color:#3882F6;
    border: 1px solid #F9FAF8;
    border-radius: 3px;
    color: #F9FAF8;
    font-weight: 700;
    width: 100px;
}
.hero-image {
    flex:1;
}
.placeholder {
    
    height:200px;
    display: flex;
    background-color: #575a5d;
    align-items: center;
    justify-content: center;
}
.placeholder p {    
    color:#F9FAF8;
}

/* FEATURES SECTION */
.features {
    max-width: 1260px;

}
.features h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

/* CARDS SECTION */
.card {
    flex:1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column wrap;
}

.card-image {
    border: 2px solid #3882F6;
    border-radius: 5px;
    height:200px;
    width: 200px;
}
.card p {
    text-align: center;
    width:90%
}

.bg-dark {
    background-color: #1F2937;
   
}

/* QUOTE SECTION */
.bg-quote {
    background-color: #E5E7EB;
    width:100%;

}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 150px;

}
blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    
}
figcaption {
    font-weight: 24px;
    font-weight: 500;
    align-self: flex-end;
    font-weight: 700;
}
/* CTA SECTION */


.cta {
     width:100%;

}

.cta-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin:50px 150px;
    padding:30px;
    background-color: #3882F6;
    border-radius: 5px;
}

.cta-text {
    flex:1;
        padding: 30px;

}
.cta-text p {
    color: #F9FAF8;
}
.cta-title {
 font-weight: 700;
 color: #F9FAF8;
}

.cta button {
    margin: 0 20px;
    padding: 16px;
    background-color:#3882F6;
    border: 1px solid #F9FAF8;
    border-radius: 3px;
    color: #F9FAF8;
    
}

footer {
    width:100%;
}
footer p {
    color: #F9FAF8;
    text-align: center;
    padding: 20px 0;
    
}